.venv/
.ipynb_checkpoints
__pycache__/
*.pyc
*.env
.DS_Store
pgpaiml/
data/X-ray Data.zip
data/insurance.csv
data/used_cars_data.csv
data/credit_card_approval.csv
data/Loan_Delinquent_Dataset.csv
data/machine_failure_data.csv
data/retail_customer_segmentation.csv
data/data_add_nik.csv
data/Credit_Card.csv
data/credit.csv
data/pima-indians-diabetes.csv